<!DOCTYPE html>
<html lang="ko">
<head>
<title>AwesomeCar Main</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
@import"../res/css/userJoinHi.css";
</style>
</head>
<center>
 <br>
 <br>
 <br>
 <br>

 <h1> ♥AWESOME CAR♥</h1>
 <b style="font-size:60px;">예약 대기</b><br>
 <h2>입금계좌 : 신한은행 110-111-111111 </h2>
 <h2>예금주:(주) AWESOME CAR</h2><br>
 <h2>입금이 확인후 예약이 완료됩니다.</h2>
 <a class="btn btn-lg btn-default" href="../main.html">확인</a>

 
</center>
</html>