<!DOCTYPE html>
<html lang="ko">
<head>
<title>AwesomeCar Main</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
@import"../res/css/userJoinHi.css";
</style>
</head>
<center>
 <br>
 <br>
 <br>
 <br>

 <h1> ♥AWESOME CAR♥</h1>
 <h1>변경처리되었습니다. </h1><br>
 <a class="btn btn-lg btn-default" href="../main.html">확인</a>

 
</center>
</html>