<!DOCTYPE html>
<html lang="ko">
<head>
<title>AwesomeCar Main</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
@import"../res/css/common2.css";
@import"../res/css/comeon.css";
</style>
</head>
<body>
<div class="container" style="margin-bottom: 0px;">
	<a id="topLogin" href="../login/01.html">로그인</a>
 	<div id="logoText">
          <a id="logo" href="../main.html">
           AWESOME CAR♥
           </a>
    </div>
   
   
 <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="../introduction/01.html">회사 소개</a>
               <ul class="dropdown-menu" id="ul1">
                  <li><a href="../introduction/01.html">오시는길</a></li>
                  <li><a href="../introduction/02.html">인사말</a></li>
               </ul>
         </li>
         <li class="dropdown">
            <a href="../guide/01.html">대여 가이드</a>
               <ul class="dropdown-menu" id="ul2">
                  <li><a href="../guide/01.html">렌트안내</a></li>
                  <li><a href="../guide/02.html">보험및유의사항</a></li>
               </ul>
         </li>
         <li class="dropdown">
            <a href="../reservation/01.html">실시간 예약</a>
         </li>
         <li class="dropdown">
            <a href="../review/01.html">고객센터</a>
               <ul class="dropdown-menu" id="ul4">
                  <li><a href="../review/01.html">이용후기</a></li>
                  <li><a href="../qna/01.html">Q&A</a></li>
               </ul>
         </li>
      </ul>
   </div>
</nav>
</div>

<div class="container">
<div class="title">
	<h3>마이페이지</h3>
</div>
<center><div id="comeon"><span class="glyphicon glyphicon-list-alt"></span><h3>예약관리</h3></div></center>
<div id="subMenu">
<ul>
	<li><a href="01.html">개인정보관리</a></li>
	<li><a href="04.html">예약 관리</a></li>
	<li><a href="03.html">회원 탈퇴</a></li>
</ul>
</div>

		<div style="margin-top: 10px;"></div>
		<table class="table table-bordered">
		 <thead>
		 	<tr>
				<th>번 호</th>
				<th>차 량</th>
				<th>기 간</th>
				<th>상세보기</th>
				<th>관 리</th>
			</tr> 
		 </thead>
		 <tbody>
		 	<tr>
		 		<td>1</td>
		 		<td>그렌져</td>
		 		<td>2018-02-06 15시 ~ 2018-02-08 20시</td>
		 		<td><a data-toggle="modal" href="#myModa" class="btn btn-primary">상세보기</a></td>
		 		<td><a data-toggle="modal" href="#myModal" class="btn btn-primary">취소</a></td>
		 		<div class="row 2nd"></div>
		 		  
		 	</tr>	
		 
		 	<tr>
		 		<td>2</td>
		 		<td>모닝</td>
		 		<td>2018-02-06 15시 ~ 2018-02-08 20시</td>
		 		<td><a data-toggle="modal" href="#myModa" class="btn btn-primary">상세보기</a></td>
		 		<td><a data-toggle="modal" href="#myModal" class="btn btn-primary">취소</a></td>
		 		<div class="row 2nd"></div>
		 	</tr>
		 	
		 	<tr>
		 		<td>3</td>
		 		<td>렉스톤</td>
		 		<td>2018-02-06 15시 ~ 2018-02-08 20시</td>
		 		<td><a data-toggle="modal" href="#myModa" class="btn btn-primary">상세보기</a></td>
		 		<td><a data-toggle="modal" href="#myModal" class="btn btn-primary">취소</a></td>
		 		<div class="row 2nd"></div>
		 	</tr>	
		 	
		 	<tr>
		 		<td>4</td>
		 		<td>티코</td>
		 		<td>2018-02-06 15시 ~ 2018-02-08 20시</td>
		 		<td><a data-toggle="modal" href="#myModa" class="btn btn-primary">상세보기</a></td>
		 		<td><a data-toggle="modal" href="#myModal" class="btn btn-primary">취소</a></td>
		 		<div class="row 2nd"></div>
		 	</tr>	
		 	
		 	<tr>
		 		<td>5</td>
		 		<td>아반떼</td>
		 		<td>2018-02-06 15시 ~ 2018-02-08 20시</td>
		 		<td><a data-toggle="modal" href="#myModa" class="btn btn-primary">상세보기</a></td>
		 		<td><a data-toggle="modal" href="#myModal" class="btn btn-primary">취소</a></td>
		 		<div class="row 2nd"></div>
		 	</tr>		
		</tbody>		
	</table>
	        <!-- first modal -->
    <div class="modal" id="myModal" aria-hidden="true" style="display: none; z-index: 1050;">
    	<div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">AWESOME CAR♥</h4>
            </div><div class="container"></div>
            <div class="modal-body">
				정말로 취소하시겠습니까?
				<br><br>
				<a data-toggle="modal" href="#myModal2" class="btn btn-primary">확인</a>
             </div>            
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn">Close</a>
              
            </div>
            </div>
          </div>
        </div>
    </div>
    
            <div class="modal" id="myModal2" aria-hidden="true" style="display: none; z-index: 1060;">
    	<div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">AWESOME CAR♥</h4>
            </div><div class="container"></div>
            <div class="modal-body">
              	취소되었습니다. 
              <a data-toggle="modal" href="../mypage/04.html" class="btn btn-primary">확인</a>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn">Close</a>
             
            </div>
          </div>
 </div>

</div>
		
</div>
	<div class="modal fade" id="myModa">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">상세보기</h4>
				</div>
				<div class="modal-body" style="height: 300px;">
					<div>
						<div style="float: left; margin: 10px;">
							<img src="../res/img/프라이드.gif" class="img-thumbnail">
						</div>
						<p>
							<b>차량명: </b> 프라이드<br>
							<b>차&nbsp;종: </b> 소형<br>
							<b>연&nbsp;비: </b> 13.3km/ℓ~19.0km/ℓ<br>
							<b>연&nbsp;료: </b> 가솔린<br>
							<b>제조사: </b> 기아<br>
							<b>색&nbsp;상: </b> 블루<br>
							<b>요&nbsp;금: </b> 40,000 원<br>
						</p>
						<form>
						<div class="form-group">
							<div>
								<b>*인수 날짜</b>
								&nbsp; 2018-02-01
							</div>
							<div>
								<b>*반납 날짜</b>
								&nbsp; 2018-02-02
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
<div id="footer" class="container">	
   <div id="footerContent">
	   Copyright ⓒ awesomerentcar.com All rights reserved.<br>
	   서울특별시 구로구  구로동 182-13<br>
	   전화번호 : 010-4703-6105 | 사업자등록번호 : 111-22-33333 │ 개인정보관리책임: 김동현
   </div>
</div>
</footer>
</html>